/*
 * Include nivo-sliders own, default css to base everything on
 */
@import url('nivo-slider/nivo-slider.css');

/*
 * Plugin specific styles
 */
#slider {
	position:relative;
	width:100%;
	height:100%;
	background: url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

/*
 * Overriding default nivo-slider styles for "blending in"
 */
.nivo-controlNav {
        position: absolute;
        bottom: -15px;
		left: 47%;
}
.nivo-controlNav a {
        background: url("images/bullets.png") no-repeat scroll 0 0 transparent;
        border: 0 none;
	display: block;
        float: left;
        height: 10px;
        margin-right: 3px;
        text-indent: -9999px;
        width: 10px;
}
.nivo-controlNav a.active {
        background-position: -10px 0;
}
.nivo-directionNav a {
        background: url("images/arrows.png") no-repeat scroll 0 0 transparent;
        border: 0 none;
        display: block;
        height: 30px;
        text-indent: -9999px;
        width: 30px;
}
a.nivo-nextNav {
        background-position:-30px 0;
        right:10px;
}
a.nivo-prevNav {
        left:10px;
}

