/*
myYoutubePlaylist
WordPress Plugin by Jonk, http://jonk.pirateboy.net
Download from http://wordpress.org/extend/plugins/my-youtube-playlist
*/

.myYoutubePlaylist * {
	border:0px;
	padding:0px;
	margin:0px;
}
.myYoutubePlaylist_YoutubeMovie, .myYoutubePlaylist_YoutubePlaylist {
	display:block;
}
.myYoutubePlaylist_YoutubeMovie {
	/*
	This is the size of the gap between the YouTube-clip and the playlist, change here to fit your theme
	*/
	padding: 10px;
	background-color: #ccc;
}
.myYoutubePlaylist_YoutubeMovie, .myYoutubePlaylist_YoutubeMovie embed, .myYoutubePlaylist_YoutubeMovie object {
	/*
	This is the size of the YouTube-clip, change here to fit your theme
	*/
	width:500px;
	height:307px;
}
.myYoutubePlaylist_YoutubePlaylist {
	/*
	This is the size of the playlist, change here to fit your theme
	*/
	width:500px;
	padding-bottom:10px;
}
html>body .entry .myYoutubePlaylist_YoutubePlaylist ul {
	padding:0px;
	margin:0px;
}
.myYoutubePlaylist_YoutubePlaylist ul {
	list-style:none;
}
.myYoutubePlaylist_YoutubePlaylist ul li {
	display:inline;
	float:left;
}
.myYoutubePlaylist_YoutubePlaylist ul li, .myYoutubePlaylist_YoutubePlaylist ul li a, .myYoutubePlaylist_YoutubePlaylist ul li img {
	/*
	This is the size of the thumbnails in the playlist, change here to fit your theme
	*/
	width:90px;
	height:68px;
	overflow:hidden;
}
html>body .entry .myYoutubePlaylist_YoutubePlaylist ul li, .myYoutubePlaylist_YoutubePlaylist ul li {
	/*
	This is the size of the padding for the thumbnails in the playlist, change here to fit your theme
	*/
	padding:0px 10px 10px 0px;
	margin:0px;
}
.myYoutubePlaylist_clearer {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	overflow:hidden;
}